<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="EE682494-5FB8-432D-B479-5D430E9B88CA" Name="VSCE License Reset Powershell Module (64-bit)" Language="1033" Version="0.0.6.0" Manufacturer="1Dimitri" UpgradeCode="c06eed35-60e0-42fc-99cb-b776f89af26a">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="FEAT_PSModule" Title="Powershell Module" Level="1">
			<ComponentGroupRef Id="CG_PSModule" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
        <Directory Id="DIR_WindowsPowershell" Name="WindowsPowershell">
          <Directory Id="DIR_Modules" Name="Modules">
            <Directory Id="INSTALLFOLDER" Name="VSCELicense" />
          </Directory>
        </Directory>				
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="CG_PSModule" Directory="INSTALLFOLDER" Source="..\..">
      <Component Id="C_PSD" Win64="yes">
        <File Id="PSD" Name="VSCELicense.psd1" KeyPath="yes">          
        </File>
      </Component>
      <Component Id="C_PSM"  Win64="yes">
        <File Id="PSM" Name="VSCELicense.psm1" KeyPath="yes">
        </File>
      </Component>
      <Component Id="C_License"  Win64="yes">
        <File Id="Lic" Name="License" KeyPath="yes">
        </File>
      </Component>
      <Component Id="C_Readme" Win64="yes">
        <File Id="read" Name="Readme.md" KeyPath="yes">
        </File>
      </Component>

    </ComponentGroup>
	</Fragment>
</Wix>
